<a href="https://colab.research.google.com/github/shreyassks/Learning-Content/blob/master/HR_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
df_train = pd.read_csv("/content/train_LZdllcl.csv")
df_test = pd.read_csv("/content/test_2umaH9m.csv")
df = pd.concat([df_train,df_test], sort = False)
df.head(5)

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49         0.0
1        65141         Operations  ...                 60         0.0
2         7513  Sales & Marketing  ...                 50         0.0
3         2542  Sales & Marketing  ...                 50         0.0
4        48945         Technology  ...                 73         0.0

[5 rows x 14 columns]

In [120]:
df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted             float64
dtype: object

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78298 entries, 0 to 23489
Data columns (total 14 columns):
employee_id             78298 non-null int64
department              78298 non-null object
region                  78298 non-null object
education               74855 non-null object
gender                  78298 non-null object
recruitment_channel     78298 non-null object
no_of_trainings         78298 non-null int64
age                     78298 non-null int64
previous_year_rating    72362 non-null float64
length_of_service       78298 non-null int64
KPIs_met >80%           78298 non-null int64
awards_won?             78298 non-null int64
avg_training_score      78298 non-null int64
is_promoted             54808 non-null float64
dtypes: float64(2), int64(7), object(5)
memory usage: 9.0+ MB

In [122]:
df.isna().sum()

employee_id                 0
department                  0
region                      0
education                3443
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating     5936
length_of_service           0
KPIs_met >80%               0
awards_won?                 0
avg_training_score          0
is_promoted             23490
dtype: int64

In [123]:
df['department'].value_counts()

Sales & Marketing    24155
Operations           16112
Procurement          10158
Technology           10149
Analytics             7671
Finance               3627
HR                    3503
Legal                 1484
R&D                   1439
Name: department, dtype: int64

In [124]:
df['education'].value_counts()

Bachelor's          52247
Master's & above    21429
Below Secondary      1179
Name: education, dtype: int64

In [125]:
df['gender'].value_counts()

m    55092
f    23206
Name: gender, dtype: int64

In [126]:
df['recruitment_channel'].value_counts()

other       43524
sourcing    33181
referred     1593
Name: recruitment_channel, dtype: int64

In [127]:
service = df['length_of_service'].unique()
np.sort(service)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       37])

In [128]:
age = df['age'].unique()
np.sort(age)

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60])

In [129]:
df['KPIs_met >80%'].value_counts()

0    50578
1    27720
Name: KPIs_met >80%, dtype: int64

In [130]:
df_train['is_promoted'].value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [0]:
'''
replace() function in pandas will help us to rename the values in a particular column
'''
dict1 = {'m':'male','f':'female'}
df_train['gender'].replace(dict1, inplace = True)

In [137]:
'''
cross tab will give the feel of data we have. the description of columns we include will be displayed here
'''
pd.crosstab(df_train["is_promoted"],df_train["gender"],margins=True)

col_0        female   male    All
is_promoted
0             14845  35295  50140
1              1467   3201   4668
All           16312  38496  54808